.bg-primary {
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: var(--color-dark);
}

.bg-deep {
    background-color: var(--color-deep);
    color: var(--color-dark);
}

.bg-success {
    background-color: var(--color-success);
    color: var(--color-dark);
}

.bg-gay {
    background-color: var(--color-gay);
    color: var(--color-dark);
}

.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.bg-light {
    background-color: var(--color-light);
    color: var(--color-dark);
}